* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(./images/xavier-cee-biQIK_Xrbxo-unsplash.jpg);
    background-position: center;
    background-size: cover;

}

.container{
    width: 70%;
    margin: 20px auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo{
    color: white;
    font-size: 28px;
}

span{
    color: #ea1538;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: #ea1538;
    transition: .3s;
}

li .dropdown3{
    display: inline-block;
}

.dropdown-content3{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 160px;
    margin-top: 17px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content3 a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content3 a:hover{
    background-color: #f1f1f1;
}

.dropdown3:hover .dropdown-content3{
    display: block;
}

button{
    border: none;
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

button:hover{
    transform: scale(1.1);
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;

}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown2{
    position: relative;
    display: inline-block;
    margin-left: 100px;
}

.dropbtn{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content2 a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 12px 16px;
}

.dropdown-content2{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;

}

.dropdown-content2 a:hover{
    background-color: #f1f1f1;
}

.dropdown2:hover .dropdown-content2{
    display: block;
}

.dropdown2:hover .dropbtn{
    background-color: #3e8e41;
}
